@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200&display=swap');

.homeWrap {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 500%;
}

.coteretHome {
    font-family: Passions Conflict;
    font-size: 71%;
}

.spanHome {
    font-family: Acme;

}

.coteretHome .coteretHome2 {
    font-family: Passions Conflict;
}

.middel {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 2%;
}

.homeImg {
    width: 36%;
}

.info {

    font-size: 22%;
    width: 44%;

}

.anew {
    padding-left: 0;
}

.button {
    background-color: aliceblue;
    /* Green */
    border: 2px solid #e7e7e7;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button4:hover {
    background-color: #e7e7e7;
}

Link {
    padding: 0;
}